<html lang="en">
<head>
    <script src="https://cdn.jsdelivr.net/npm/@mliebelt/pgn-viewer@1.6.11/lib/dist.min.js"></script>
</head>
<body>
<div id="pgn" style="display: none">
    {{ pgn }}
</div>
<div id="b1" style="width: 360px"></div>
<script>
  const pgn = document.getElementById("pgn").innerText

  options = {
    position: 'start',
    showCoords: true,
    orientation: 'white',
    theme: 'sportverlag',
    pieceStyle: 'uscf',
    figurine: 'merida',
    locale: 'en',
    timerTime: '',
    width: '1000px',
    boardSize: '600px',
    layout: 'left',
    headers: true,
    showFen: true,
    coordsInner: true,
    manyGames: false,
    coordsFactor: '-5',
    coordsFontSize: '',
    colorMarker: 'circle',
    startPlay: '',
    hideMovesBefore: false,
    notation: 'short',
    notationLayout: 'list',
    resizable: true,
  };

  const {base, board} = PGNV.pgnView('b1', {pgn: pgn, ...options});
</script>
</body>
</html>
